.container {
    display: flex;
}

.row {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100px;
    height: 100px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
}