.container {
    display: flex;
    border-style: solid;
    border-color: black;
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%
}